.Rectangle14{
    justify-content: center;
    align-items: center;
     
}

.innerImage{
    flex-wrap: wrap;
}

.Rectangle11{
    align-items: center;
    
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:auto;
   margin-top: 5px;   
}


.Rectangle15{
    align-items: center;
    margin-inline: auto;
   
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
    margin-top: 33px;
  
    
}

.Rectangle14{
    align-items: center;
  margin-inline: auto;

    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  
   
}

.Rectangle13{
    align-items: center;
 
margin-inline: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  
    
}

.mainnet{
    margin-left: 2px;
    margin-right: 170px;
    margin-bottom: 8px;
    
    
}

.mainDiv{
    display: flex;
    flex-direction: row;
}

.breakthrough {
    background-image: url('/assets/body-image.jpg');
    background-size: cover;
    background-position: center;
    width: 426px;
    height: 298px;
    border-radius: 25px;
    border: 1px solid black;
    position: relative; /* To allow children to be positioned within */
  }