@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: black;
    color: white;
    background-image: url(/assets/bg.png); /* Replace 'your-image.jpg' with the path to your image file */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; /* This keeps the background fixed even when scrolling */
        background-position: center bottom;
}